!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title

    %link(rel="shortcut icon" href="#{image_path('philmill-van.ico')}" type="image/x-icon")
    %link(href="#{path_to('/articles.xml')}" rel="alternate" type="application/atom+xml")

    = stylesheet_tag 'app'
    = javascript_tag 'app'

    - if root_index?
      :javascript
        $(PhilMill.PagePreviewNav.init);
        $(PhilMill.City.init);

    = haml :analytics, :layout => false
  %body
    = haml :header, :layout => false
    #container
      = yield
    = haml :footer, :layout => false