!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    %link(rel="shortcut icon" href="/philmill/images/philmill-van.ico" type="image/x-icon")
    %link{ :href => url("/#{Nesta::Config.theme}/css/master.css"), :media => "screen", :rel => "stylesheet"}
    %link(href="#{path_to('/articles.xml')}" rel="alternate" type="application/atom+xml")
    %script(type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js")
    %script(type="text/javascript" src="#{Nesta::Config.theme}/javascripts/application.js")
    = haml :analytics, :layout => false
  %body
    #container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false